<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<title>메인 페이지</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ledger.css') }}">

</head>
<body>

	{% include "_header.html" %}

	<div id="input-container" class="centered-prompt">
		<h3 id="input-title">달력에서 날짜를 클릭하세요</h3>
		<form id="entry-form" style="display:none;">
		<select id="type">
			<option value="">입금/출금 선택</option>
			<option value="입금">입금</option>
			<option value="출금">출금</option>
		</select>
		<input type="text" id="desc" placeholder="내역 입력">
		<input type="number" id="amount" placeholder="금액 입력">
		<button type="button" id="apply-btn">적용</button>
		</form>
	</div>

	<div class="container">
		<div class="month-navigator">
		<button id="prev-month-btn">&lt;</button>
		<h3 id="current-month"></h3>
		<button id="next-month-btn">&gt;</button>
		</div>
		<div class="calendar" id="calendar"></div>
	</div>

	<div id="transaction-list"></div>

  	<script src="{{ url_for('static', filename='js/ledger.js') }}"></script>
</body>
</html>